.navbar{
    padding-left: 90px;
    padding-right: 90px;
    background: #BE8197;
    border: 1px solid #ffffff;
}

.navbar-brand{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: white !important;
}

.nav-link{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px; 
    color: #FFFFFF !important;

}
/* tutup navbar */

.detil{
    margin-left: 90px;
    margin-top: 90px;
}

.detil h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    color: #BE8197;
    margin-bottom: 36px;

}

.grs{
    margin-left: -100px;
    width: 452px;
    height: 0px;
    border: 1px solid #000000;
    transform: rotate(90deg);
    margin-right: -100px;

}

.dd{
    margin-top: -60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #BE8197;

}

.size h5{
    margin-bottom: 20px;
}

.size a{
    outline: none;
    border: none;
    padding: 10px 10px 10px 10px;
    width: 65px;
    height: 60px;
    background: #BE8197;
    border: 1px solid #7FD6DC;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    border-radius: 12px;

    color: #FFFFFF;
}

.care{
    margin-top: 20px;
}

.care p{
    padding-top: 4px;
    width: 233px;
    height: 33px;
    background: #BE8197;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;

    color: #FFFFFF;
}

.ket{
    margin-top: 80px;
    width: 909px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #BE8197;

}

.review{
    margin-top: 40px;
}

.review h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #BE8197;
    margin-bottom: 30px;

}

.review p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #BE8197;

}

.fa-user-circle{
    font-size: 28px;
}

.but{
    margin-top: 60px;
}

.btn-add{
    width: 54px;
    height: 50px;
    background: #BE8197;
    border-radius: 10px;
}

.btn-order{
    margin-left: 50px;
    width: 213px;
    height: 45px;
    background: #BE8197;
    border-radius: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;

}

/* tutup detil */


/* footer */

footer{
    padding-top: 55px;
    padding-bottom: 55px;
    padding-left: 90px;
    margin-top: 80px;
    background-color: #BE8197;
}

.footer-item p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;

    color: #FFFFFF;
}

.social{
    margin-left: 390px;
}

.social h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;

}

.social p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}


/* tutup footer */